{% extends 'base.twig' %}

{% block pagina %}
<header id="header">
	{% block encabezado %}
		<div class="contenedor">

			<nav class="nav-notifications">
				<!--<label class="control" for="control-menu"></label>
				<input type="checkbox" id="control-menu" />-->
				<ul class="nav-noti-list">
					<li class="noti-active noti-1">
						<a href="#">
							<div class="noti-categoria">
								Notificaciones <span class="number"> <span class="value">11</span></span>
							</div>
						</a>
						<div class="subnoti">
							<article>
								<a href="#" class="no-visit">
									<div class="subnoti-item">
										<p>Se ha agregado nuevo presupuesto</p>
										<div class="subnoti-detail"><span class="logo">Cencosud</span> | <span title="Martes 29 de agosto del 2017 a las 9:00">hace 1 hora</span>  </div>
									</div>
								</a>
								<div class="close-subnoti">
									<button class="close" data-tooltip="Eliminar"  data-placement="bottom" >X</button>
								</div>
							</article>
							<article>
								<a href="#" class="no-visit">
									<div class="subnoti-item">
										<p>Se ha agregado nuevo presupuesto</p>
										<div class="subnoti-detail"><span class="logo">Cencosud</span> | <span title="Martes 29 de agosto del 2017 a las 9:00">hace 1 hora</span>  </div>
									</div>
								</a>
								<div class="close-subnoti">
									<button class="close" data-tooltip="Eliminar"  data-placement="bottom" >X</button>
								</div>
							</article>
						</div>
					</li>
					<li class="noti-2">
						<a href="#">
							<div class="noti-categoria">
								Notificaciones <span class="number"> <span class="value">0</span></span>
							</div>
						</a>
						<div class="subnoti">
							<article>
								<a href="#" class="no-visit">
									<div class="subnoti-item">
										<p>Se ha agregado nuevo presupuesto</p>
										<div class="subnoti-detail"><span class="logo">Cencosud</span> | <span title="Martes 29 de agosto del 2017 a las 9:00">hace 1 hora</span>  </div>
									</div>
								</a>
								<div class="close-subnoti">
									<button class="close" data-tooltip="Eliminar"  data-placement="bottom" >X</button>
								</div>
							</article>
						</div>
					</li>
					<li class="noti-active noti-1">
						<a href="#">
							<div class="noti-categoria">
								Notificaciones <span class="number"> <span class="value">3</span></span>
							</div>
						</a>
						<div class="subnoti">
							<article>
								<a href="#" class="no-visit">
									<div class="subnoti-item">
										<p>Se ha agregado nuevo presupuesto</p>
										<div class="subnoti-detail"><span class="logo">Cencosud</span> | <span title="Martes 29 de agosto del 2017 a las 9:00">hace 1 hora</span>  </div>
									</div>
								</a>
								<div class="close-subnoti">
									<button class="close" data-tooltip="Eliminar"  data-placement="bottom" >X</button>
								</div>
							</article>


							<article>
								<a href="#" class="no-visit">
									<div class="subnoti-item">
										<p>Se ha agregado nuevo presupuesto </p>
										<div class="subnoti-detail"><span class="logo">Cencosud</span> | <span title="Lunes 28 de agosto del 2017 a las 13:00">hace 1 hora</span>  </div>
									</div>
								</a>
								<div class="close-subnoti">
									<button class="close" data-tooltip="Eliminar"  data-placement="bottom" >X</button>
								</div>
							</article>


							<article>
								<a href="#">
									<div class="subnoti-item">
										<p>Se ha agregado nuevo presupuesto</p>
										<div class="subnoti-detail"><span class="logo">Cencosud</span> | <span title="Lunes 28 de agosto del 2017 a las 11:00">hace 1 hora</span> </div>
									</div>
								</a>
								<div class="close-subnoti">
									<button class="close" data-tooltip="Eliminar"  data-placement="bottom" >X</button>
								</div>
							</article>

							<article>
								<a href="#">
									<div class="subnoti-item">
										<p>Se ha agregado nuevo presupuesto</p>
										<div class="subnoti-detail"><span class="logo">Cencosud</span> | <span title="Lunes 28 de agosto del 2017 a las 8:40">hace 1 hora</span>  </div>
									</div>
								</a>
								<div class="close-subnoti">
									<button class="close" data-tooltip="Eliminar"  data-placement="bottom">X</button>
								</div>
							</article>
						</div>
					</li>
				</ul>
			</nav>

			<h1 class="logo">
				<a href="index.html"><img src="img/logo-atk-v2.png" alt="Atk" /></a>
			</h1>
		</div>
	{% endblock %}
</header>
<section id="user">
	<div class="contenedor">
		<div class="user">
			<span class="user-img"><img src="img/icons/usuario-ico.png" alt="usuario"></span>
			<div class="user-dates">
				<p>Fulanito sjd</p>
				<button class="close-session button button-1">Cerrar sesión</button>
			</div>
		</div>

	</div>
</section>
<section class="pagina">
	
		{% block cuerpo %}
		
		{% endblock %}

</section>



{% endblock %}
