{% extends "estructura.twig" %}

{% set seccion = "inicio" %}
{% set info = datos.portada %}

{% block css %}
	<link rel="stylesheet" href="css/slick.css" />
	<link rel="stylesheet" href="css/{{ seccion }}.css" media="screen" title="estilo">
{% endblock %}
 
{% block cuerpo %}
	<div>
	   <section class="box-categ">
	   		<article class="item-box-categ">
	   			<a href="presupuestos.html">
	   				<header class="header">
	   					<h2>PRESUPUESTOS</h2>
	   				</header>
					<div class="serv-icon">
						<span class="icon-dolar"></span>
					</div>
	   				<div class="item-box-info">
						<p class="item-box-tit">Datos generales</p>
						<div class="item-box-detail">
							<ul>
								<li>
									<div class="label"><span>Nuevos ingresos</span></div>
									<div class="number-cell"><span>23</span></div>
								</li>
								<li>
									<div class="label"><span>Sin orden de compra</span></div>
									<div class="number-cell"><span>2</span></div>
								</li>

								<li>
									<div class="label"><span>Nuevos ingresos</span></div>
									<div class="number-cell"><span>7</span></div>
								</li>

								<li class="icons">
									<aside class="icons-list">
										<img src="img/icons/reloj.png" />
						   				<img src="img/icons/icono-raro.png" />
						   				<img src="img/icons/circulo.png" />
					   				</aside>
								</li>
							</ul>
						</div>

	   				</div>


	   			</a>
	   		</article>



	   		<article class="item-box-categ">
	   			<a href="#">
	   				<header class="header">
	   					<h2>MATRICES</h2>
	   				</header>
	   				<div class="serv-icon">
						<span class="icon-matrices"></span>
					</div>
	   				<div class="item-box-info">
						<p class="item-box-tit">Datos generales</p>
						<div class="item-box-detail">
							<ul>
								<li>
									<div class="label"><span>Nuevos ingresos</span></div>
									<div class="number-cell"><span>23</span></div>
								</li>
								<li>
									<div class="label"><span>Sin orden de compra</span></div>
									<div class="number-cell"><span>2</span></div>
								</li>

								<li>
									<div class="label"><span>Nuevos ingresos</span></div>
									<div class="number-cell"><span>7</span></div>
								</li>

								<li class="icons">
									<aside class="icons-list">
										<img src="img/icons/reloj.png" />
						   				<img src="img/icons/icono-raro.png" />
						   				<img src="img/icons/circulo.png" />
					   				</aside>
								</li>
							</ul>
						</div>

	   				</div>
	   			

	   			</a>
	   		</article>




	   		<article class="item-box-categ">
	   			<a href="#">
	   				<header class="header">
	   					<h2>CLIENTES</h2>
	   				</header>
	   				<div class="serv-icon">
						<span class="icon-clientes"></span>
					</div>
	   				<div class="item-box-info">
						<p class="item-box-tit">Datos generales</p>
						<div class="item-box-detail">
							<ul>
								<li>
									<div class="label"><span>Nuevos ingresos</span></div>
									<div class="number-cell"><span>23</span></div>
								</li>
								<li>
									<div class="label"><span>Sin orden de compra</span></div>
									<div class="number-cell"><span>2</span></div>
								</li>

								<li>
									<div class="label"><span>Nuevos ingresos</span></div>
									<div class="number-cell"><span>7</span></div>
								</li>

								<li class="icons">
									<aside class="icons-list">
										<img src="img/icons/reloj.png" />
						   				<img src="img/icons/icono-raro.png" />
						   				<img src="img/icons/circulo.png" />
					   				</aside>
								</li>
							</ul>
						</div>

	   				</div>
	   				 
	   			</a>
	   		</article>


	   		<article class="item-box-categ">
	   			<a href="#">
	   				<header class="header">
	   					<h2>PRESUPUESTOS</h2>
	   				</header>
	   				<div class="serv-icon">
						<span class="icon-dolar"></span>
					</div>
	   				<div class="item-box-info">
						<p class="item-box-tit">Datos generales</p>
						<div class="item-box-detail">
							<ul>
								<li>
									<div class="label"><span>Nuevos ingresos Nuevos ingresos Nuevos ingresos</span></div>
									<div class="number-cell"><span>23</span></div>
								</li>
								<li>
									<div class="label"><span>Sin orden de compra</span></div>
									<div class="number-cell"><span>2</span></div>
								</li>

								<li>
									<div class="label"><span>Nuevos ingresos</span></div>
									<div class="number-cell"><span>7</span></div>
								</li>

								<li class="icons">
									<aside class="icons-list">
										<img src="img/icons/reloj.png" />
						   				<img src="img/icons/icono-raro.png" />
						   				<img src="img/icons/circulo.png" />
					   				</aside>
								</li>
							</ul>
						</div>

	   				</div>
	   			 

	   			</a>
	   		</article>

	   </section>
   </div>
{% endblock %}


{% block js %}
	<script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
	
	<script src="js/{{ seccion }}.js" defer></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
{% endblock %}